<!-- <button (click)="addContact()">添加新联系人</button> -->
<div class="row">
    <label>出发时间排序方式 : </label>
<button (click)="doSort('asc')" class="btn-large btn-danger col-2 ">升序</button>
<button (click)="doSort('desc')" class="btn-large btn-success col-2">降序</button>
<button (click)="doSort('asc','random')" class="btn-large btn-warning col-2">随机</button>
</div>

<div class="row">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th align="left">车次</th>
                <th align="left">类别</th>
                <th align="left">出发时间</th>
                <th align="left">到达时间</th>
                <th align="left">Random column for test</th>
            </tr>
            <tr *ngFor="let train of trains; let i = index;">
                <td>{{train.num}}</td>
                <td>{{train.type}}</td>
                <td>{{train.departureTime}}</td>
                <td>{{train.arrivalTIme}}</td>
                <td>{{train.random}}</td>
            </tr>
        </tbody>
    </table>
</div>
